<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>

<script>
$(document).ready(function(){
  $("#gallery .gallery-row").nanoGallery({galleryToolbarHideIcons: 'true',
                                          thumbnailWidth: '150',
                                          thumbnailDisplayTransition: false,
                                          colorScheme: 'lightBackground',
                                          thumbnailLabel: false});

  $("#gallery-pictures .gallery-row").nanoGallery({galleryToolbarHideIcons: 'false',
                                          thumbnailWidth: '250',
                                          thumbnailHeight:  '350',
                                          thumbnailDisplayTransition: false,
                                          colorScheme: 'dark',
                                          thumbnailLabel: {
                                            position: 'overImageOnBottom',
                                            hideIcons: true,
                                            align: 'center'
                                          },
                                          viewerToolbar: {
                                            style: 'stuckImage'
                                          },
                                          galleryToolbarHideIcons: true
                                        });

  $("#gallery-pictures-vertical .gallery-row").nanoGallery({galleryToolbarHideIcons: 'false',
                                          thumbnailWidth: '275',
                                          thumbnailHeight:  '200',
                                          thumbnailDisplayTransition: false,
                                          colorScheme: 'dark',
                                          thumbnailLabel: {
                                            position: 'overImageOnBottom',
                                            hideIcons: true,
                                            align: 'center'
                                          },
                                          viewerToolbar: {
                                            style: 'stuckImage'
                                          },
                                          galleryToolbarHideIcons: true
                                        });
});
</script>
