body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title-color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}

hgroup {
  h3 {
    color: rgba(0,0,0, 0.8);
    text-shadow: 1px 2px 4px #def, 0 0 0 #000, 1px 2px 4px #333;

    span {
      padding-bottom: 20px;
      display: block;
    }

    padding-top: 2em;
    font-size: .8em;
    color: #333;
  }
}
